<template>
  <b-list-group>
  <b-list-group-item>Inicio</b-list-group-item>
  <b-list-group-item>Expedientes</b-list-group-item>
  <b-list-group-item>Reportes</b-list-group-item>
  <b-list-group-item>Configuracion</b-list-group-item>
  <b-list-group-item>Aeguradora</b-list-group-item>
  <b-list-group-item>Usuarios</b-list-group-item>
  <b-list-group-item>Juzgado</b-list-group-item>
</b-list-group>
</template>

<script>
export default {}
</script>
