<template>
 <FONT SIZE=3>
  <div>
 
    <b-table striped hover :items="items" :fields="fields"></b-table>
   
  </div>
   </font>
</template>

<script>
  export default {
    data() {
      return {
        // Note `isActive` is left out and will not appear in the rendered table
        fields: ['ASEGURADORA', 'ASEGURADO', 'JUZGADO'],
        items: [
        { isActive: true, JUZGADO: 'JUZGADO 5TO (PREDREGAL)', ASEGURADORA: 'ASSA', ASEGURADO: 'ANTHONY TREJOS' },
        { isActive: false, JUZGADO: 'JUZGADO 4TO (PREDREGAL)', ASEGURADORA: 'ANCON', ASEGURADO: 'LUIS MOLINA' },
        { isActive: false, JUZGADO: 'JUZGADO 5TO (PREDREGAL)', ASEGURADORA: 'ASSA', ASEGURADO: 'KATHERINE KENT' },
        { isActive: true, JUZGADO: 'JUZGADO 1RO (PREDREGAL)', ASEGURADORA: 'CONANCE', ASEGURADO: 'MARTIN ALVARADO' },
        { isActive: false, JUZGADO: 'JUZGADO 3RO (PREDREGAL)', ASEGURADORA: 'PARTICULAR', ASEGURADO: 'JOEL ARAUZ RODRIGUEZ' },
        { isActive: true, JUZGADO: 'ALCALDIA DE PANAMA', ASEGURADORA: 'INTEROCEANICA', ASEGURADO: 'MICHELLE VEGA' },
        { isActive: true, JUZGADO: 'CHITRE', ASEGURADORA: 'ANCON', ASEGURADO: 'CANDICE HENRY' },
    
        ]
      }
    }
  }
</script>