<template>
    <div>
      <NavBar/>
    
        <!-- <div class="row">
        
            <div class="col">
                <span class="float-left"><Tabla/></span> 
                <span class="float-right"><Calendario/></span>
            </div> 
        
        </div> -->

      
      <b-container class fluid="bv-example-row">
        <b-row>
          <span class="float-left"><Panelizquierda/></span> 
          <b-col><h1> Agenda del dia</h1><h2> fecha</h2><Tabla/></b-col>
          <span class="float-right"><Calendario/></span>
        </b-row>
        </b-container>
        
       <b-container class="bv-example-row2">
        <b-row>
          <b-col><h1>Pendiente</h1></b-col>
          <b-col><h1>En curso</h1></b-col>
          <b-col><h1>Cerrados</h1></b-col>
        </b-row>
       </b-container>
       <span class="float-right"><h1>Mas</h1></span>
      

    </div> 
    
</template>

<script>
export default {}
</script>